.displayShoeStyle {
  display: flex;
}

.displayShoeItem {
  border: 1px solid lightslategray;
  margin: 1rem;
  padding: 1rem;
  width: 80%;
  border-radius: 8px;
  background-color: whitesmoke;
}

.addToCartBtn {
  border: none;
  padding: 8px 12px;
  background: navy;
  color: #ebdcbf;
}

.addToCartBtn:hover{
  background: blue;
  cursor: pointer;
  color: #fff;
}
.addToCartBtnDisable {
  border: none;
  padding: 8px 12px;
  background: rgb(0, 0, 128, 0.1);
  color: grey;
}

.shoeName {
  background: rgb(0, 0, 0);
  display: inline-block;
  color: #fff;
  padding: 0.5rem;
  border-radius: 8px;
}

.shoeDesc {
  background: white;
  padding: 0.5rem;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 900;
}

.shoeImg {
  transition: transform .2s;
}

.shoeImg:hover {
  box-shadow: 2px 3px 3px 2px rgb(0, 0, 0, 0.3);
  cursor: pointer;
  transform: scale(2);
}

.shoeAvailable {
  background-color: darkgreen;
  padding: 0.3rem;
  color: lime;
}

.shoeUnAvailable {
  background-color: darkred;
  padding: 0.3rem;
  color: yellow;
}